/* body {
    font-family: sans-serif;
  } */
  
  /* input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
  } */
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    position: absolute;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: lower-greek;
    margin-top: 40px;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 0rem);
    background-color: lightcyan;
    z-index: 1;
    border-radius: 10px;
  }
  
  .suggestions li {
    padding: 0.35rem;
  }
  
  
  .suggestions li:hover {
    background-color: #232129de;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}